.Jumbotron {
  background: #EB5757;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #EB5757, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right,  #EB5757, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

Nav a { 
  margin-right: 2em;
  color: #e7e8e1; 
}

Nav a.active { 
  font-weight: bold; 
}