.PostList {
  margin: auto;
  max-width: 90%;
  align-items: center;
}

.PostList-card {
  display: inline-block;
  width: 40vw;
  max-width: 50%;
  margin-right: 1em;
}

.PostList-card-title {
  padding: 1em 0em 1em 0em;
}